body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 50px;
  }
  
  form {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="number"],
  button {
    display: block;
    margin: 5px auto;
  }
  
  button {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
  }
  
  li button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  li button:hover {
    background-color: #da190b;
  }